exportPattern("^[[:alpha:]]+")

importFrom(countrycode,countrycode)

importFrom(dplyr,all_vars)
importFrom(dplyr,any_vars)
importFrom(dplyr,arrange)
importFrom(dplyr,as_tibble)
importFrom(dplyr,bind_rows)
importFrom(dplyr,collect)
importFrom(dplyr,distinct)
importFrom(dplyr,do)
importFrom(dplyr,everything)
importFrom(dplyr,filter)
importFrom(dplyr,filter_at)
importFrom(dplyr,group_by)
importFrom(dplyr,group_by_at)
importFrom(dplyr,inner_join)
importFrom(dplyr,is.grouped_df)
importFrom(dplyr,lag)
importFrom(dplyr,left_join)
importFrom(dplyr,mutate)
importFrom(dplyr,mutate_all)
importFrom(dplyr,mutate_at)
importFrom(dplyr,mutate_if)
importFrom(dplyr,n)
importFrom(dplyr,pull)
importFrom(dplyr,recode)
importFrom(dplyr,rename)
importFrom(dplyr,rowwise)
importFrom(dplyr,select)
importFrom(dplyr,select_if)
importFrom(dplyr,summarise)
importFrom(dplyr,summarise_at)
importFrom(dplyr,summarise_all)
importFrom(dplyr,tibble)
importFrom(dplyr,ungroup)
importFrom(dplyr,vars)
importFrom(dplyr, group_modify)
importFrom(dplyr,"%>%")

importFrom(lubridate,"hour<-")
importFrom(lubridate,day)
importFrom(lubridate,days)
importFrom(lubridate,days_in_month)
importFrom(lubridate,hour)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(lubridate,ymd)
importFrom(lubridate,ymd_h)

importFrom(magrittr,"%<>%")
importFrom(magrittr,add)

importFrom(readr,read_csv)
importFrom(readr,cols)

importFrom(tidyr,nesting)
importFrom(tidyr,pivot_longer)
importFrom(tidyr,separate)
importFrom(tidyr,gather)


